body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.green {
    margin: 0;
    position: fixed;
    left: -20%;
    top: -23%;
}

.blue {
    margin: 0;
    position: fixed;
    left: 30%;
    top: -54%;
}


.box {
    position: fixed;
    border-radius: 50%;
    left: 5.6%;
    top: 16.3%;
    width: 421px;
    height: 421px;
    box-shadow: #0000009a 10px 10px 20px;
    background: #FF4E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(249, 213, 35, 0.801), rgba(255, 78, 81, 0.801));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(249, 213, 35, 0.801), rgba(255, 78, 81, 0.801));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
    position: absolute;
    left: 5.6%;
    top: 16.3%;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    color: #fff;
    font-family: monospace;
    text-align: center;
}

.content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    border-radius: 30px;
    box-shadow: #0000009a 2px 5px 5px;
}

.content a:hover {
    color: #fff;
    background: #41295a;
    text-decoration: none;
    transform: scale(1.2);
}

.box img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 421px;
    height: 421px;
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
    -webkit-clip-path: circle(71.8% at 50% 51%);
    clip-path: circle(71.8% at 50% 51%);
}

.box:hover img {
    -webkit-clip-path: circle(0.0% at 50% 0);
    clip-path: circle(0.0% at 50% 0);
}

.profile-pic {
    width: 421px;
    height: 421px;
    margin: 0;
}

.data {
    position: fixed;
    left: 35%;
    top: 20%;
    z-index: 1;
}

@media screen and (max-width: 1280px) {
    .data {
        transform: scale(0.8);
    }
    .green {
        transform: scale(0.8);
        left: -30%;
    }
    .blue {
        transform: scale(0.8);
        left: 20%;
    }
    .box {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1170px) {
    .data {
        transform: scale(0.7);
        left: 30%;
    }
    .box {
        transform: scale(0.7);
        top: 50px;
        left: -20px;
    }
     .green {
         transform: scale(0.8);
         left: -30%;
         transform: rotate(10deg);
     }

     .blue {
         transform: scale(0.7);
         left: 20%;
         transform: rotate(10deg);
     }
}

@media screen and (max-width: 1030px) {
    .data {
        transform: scale(0.6);
        left: 30%;
        top: 30%;
    }

    .box {
        transform: scale(0.6);
        top: 50px;
        left: -20px;
    }

    .green {
        transform: scale(0.6);
        left: -30%;
        transform: rotate(20deg);
    }

    .blue {
        transform: scale(0.6);
        left: 20%;
        top: -45%;
        transform: rotate(20deg);
    }
}

@media screen and (max-width: 970px) {
    .data {
        transform: scale(0.6);
        left: 20%;
        top: 40%;
    }

    .box {
        transform: scale(0.6);
        top: 40px;
        left: 20%;
    }

    .green {
        transform: scale(0.2);
        left: -50%;
        transform: rotate(30deg);
    }

    .blue {
        transform: scale(0.2);
        left: 30%;
        top: -45%;
        transform: rotate(30deg);
    }
}

@media screen and (max-width: 850px) {
    .data {
        transform: scale(0.6);
        left: 1%;
        top: 40%;
    }

    .box {
        transform: scale(0.6);
        top: 30px;
        left: 20%;
    }

    .green {
        transform: scale(0.2);
        left: -70%;
        transform: rotate(50deg);
    }

    .blue {
        transform: scale(0.2);
        left: 30%;
        top: -35%;
        transform: rotate(50deg);
    }
}