@import "mobile.css";
@import "card.css";

/* ==============================<    BASE STYLING     >============================== */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
}

body {
    justify-content: center;
    background-image: url("../images/bg.png");
    font-size: 20px;
    font-family: 'Livvic',
        sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.pipe {
    color: blueviolet;
}

.yellow {
    color: #F09A48;
}

.drawing-1 {
    position: relative;
    background-image: url("../svgs/Drawing-1.svg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    top: 60%;
    width: 100%;
    height: 630px;
}
.drawing-2 {
    position: relative;
    background-image: url("../svgs/Drawing-2.svg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    top: 40%;
    width: 100%;
    height: 630px;
}
.drawing-3 {
    position: relative;
    background-image: url("../svgs/Drawing-3.svg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -moz-background-size: auto auto;
    -webkit-background-size: auto auto;
    -o-background-size: auto auto;
    background-size: auto auto;
    top: 20%;
    width: 100%;
    height: 630px;
}
.drawing-4 {
    position: relative;
    background-image: url("../svgs/Drawing-4.svg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    width: 100%;
    height: 630px;
}

/* ==============================<    LANDING AREA    >============================== */

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#F09A48 5%, #EB9772 20%, #CD6F8A 45%, #593F5F 85%, #3E365B 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 96% 11%, 75% 16%, 67% 39%, 50% 50%, 40% 33%, 12% 20%);
}

.imgContainer {
    border-radius: 50%;
    position: relative;
    top: 30%;
    margin: auto;
    height: 200px;
    width: 200px;
    box-shadow: #0000009a 0px 50px 30px;
}

.imgContainer img {
    border-radius: 50%;
    height: 100%;
}

.imgContainer,
img:hover {
    transform: rotate(360deg);
    transition: 1.5s;
}

nav .nav-list {
    width: 10%;
    height: 60%;
    margin-left: 90%;
    position: absolute;
    text-align: center;
}

nav .nav-list li {
    list-style-type: none;
    transform: rotate(90deg);
    margin-top: 65%;
}

nav .nav-link:hover {
    color: blueviolet;
    transition: .5s;
}

.info {
    position: relative;
    width: 60%;
    top: 40%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.info::after {
    content: '';
    position: relative;
    margin-top: 15px;
    border-radius: 5px;
    display: block;
    width: 20%;
    height: 3px;
    background: linear-gradient(90deg, #CD6F8A 10%, #ED8F38 90%);
    left: 40%;
    top: 85%;
}

.info h2 {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2em;
    text-shadow: 0 5px 10px #0000009a;
}

.arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 93%;
    left: 5%;
}

.skillset {
    top: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    justify-content: center;
}

.skillset .pipe {
    padding: 10px;
}

/* ==============================<    ABOUT ME AREA    >============================== */

/* .aboutMe {
    position: relative;
    top: 66%;
    width: 100%;
    justify-content: center;
    text-align: center;
} */

.about-heading {
    position: relative;
    text-align: center;
    margin: auto;
    width: 20%;
    top: 50%;
    height: 20%;
}

.about-heading h1 {
    font-weight: 100;
    font-size: 2.8rem;
    text-shadow: #0000009a 10px 5px 10px;
}

.about-heading h1::after {
    content: '';
    display: block;
    width: 105%;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(90deg, #8A2BE2 10%, #B181DD 90%);

}

.aboutMe {
    position: relative;
    background: url("../svgs/section-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 40%;
    width: 100%;
    height: 100%;
}

.aboutMe .bio {
    position: absolute;
    padding-top: 40px;
    justify-content: left;
    text-align: right;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-left: 45%;
}

/* ==============================<    SKILLS & EDUCATION AREA    >============================== */

.edu-skills-heading {
    position: relative;
    text-align: center;
    margin: auto;
    width: 20%;
    top: 23%;
    height: 20%;
}

.edu-skills-heading h1 {
    font-weight: 100;
    font-size: 2.8rem;
    text-shadow: #0000009a 10px 5px 10px;
}

.edu-skills-heading h1::after {
    content: '';
    display: block;
    width: 105%;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(90deg, #8A2BE2 10%, #B181DD 90%);
}

.edu-skills {
    position: relative;
    top: 20%;
    width: 100%;
    height: 100%;
    background: #3E365B;
}

/* ==============================<    PROJECTS AREA    >============================== */

.projects-heading {
    position: relative;
    text-align: center;
    margin: auto;
    width: 20%;
    top: 10%;
    height: 20%;
}

.projects-heading h1 {
    font-weight: 100;
    font-size: 2.8rem;
    text-shadow: #0000009a 10px 5px 10px;
}

.projects-heading h1::after {
    content: '';
    display: block;
    width: 105%;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(90deg, #8A2BE2 10%, #B181DD 90%);
}

.projects {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    background: #3E365B;
}

/* ==============================<    CARDS    >============================== */



/* ==============================<    CARDS    >============================== */

footer {
    position: relative; 
    width: 100%;
    height: 50%;
    background: #3E365B;
    display: flex;
}

footer .joke {
    align-self: flex-end;
    width: 40%;
    height: 40%;
    text-align: center;
    padding: 25px;
    /* top: 25%; */
    border-radius: 10px;
    background: #F09A48;
    position: relative;
    /* box-shadow: #000000d0 2px 8px 25px; */
}




    /* background: linear-gradient(0deg, #CD6F8A 10%, #ED8F38 90%); */



/* clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0); */

/* clip-path: polygon(0 0, 100% 0, 96% 11%, 75% 16%, 67% 39%, 50% 50%, 40% 33%, 12% 20%); */
