.site-header {
    /* background: url("https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif");
    background-repeat: no-repeat ; */
    color: #ecfdf9;
    height: 120vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #0000009a 2px 5px 5px;
}

.course-link {
    color: #ecfdf9;
}

body {
    margin: 0;
    /* background: url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    /* background: url("https://images.pexels.com/photos/1809644/pexels-photo-1809644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
        background: url("https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80") no-repeat center center fixed;
        background: url("https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
        */
    background: url("https://images.unsplash.com/photo-1498026474556-93048b8493d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed;
    
    -webkit-background-size: cover ;
    -moz-background-size: cover ;
    -o-background-size: cover ;
    background-size: cover ;
}

.jumbotron {
    background: #41295a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(85, 7, 124), #d83f87);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(85, 7, 124), #d83f87);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 20px 20px #0000009a ;
    opacity: 0.6 ;
    text-align: center ;
    margin-top: 10%;
}

.link {
    display: inline-block ;
    width: 90px ;
    height: 90px ;
    background: #f1f1f1 ;
    border-radius: 30% ;
    box-shadow: 0 5px 15px -5px #00000070 ;
    color: #3498db ;
    overflow: hidden ;
    position: relative ;
}

.link i {
    line-height: 90px ;
    font-size: 26px ;
}